div>div>div{
  background-color: blue;
  width: 120px;
  padding-left:  60px;
  padding-right: 60px;
  margin-left:   30px;
  margin-right:  30px;
  border: 10px solid black;
}

div>div {
	background-color: yellow
	padding:30px;

}

div {
	background-color: 
	padding
}